@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(30, 105, 151);
    gap: 3rem;
}
h1{
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
    color: white;
    height: 240px;
    display: flex;
    align-items: flex-end;
}
h1 img{
    object-fit: cover;
    width: 100px;
}
form{
    margin: 0 auto;
    display: grid;
    gap: 3rem;
}
input[type=checkbox]{
    display: none;
}
.flex{
    display: flex;
    align-items: center;
    gap: 1rem;
}
span{
    font-size: 3rem;
    color: white;
    letter-spacing: .2rem;
    transition: 0.4s 0.1s;
    text-shadow: 0 0 10px #00000049;
}
.color{
    color: yellowgreen;
}
.label {
    display: inline-block;
    width: 100px;
    height: 50px;
    border: transparent;
    position: relative;
    border-radius: 30px;
    background: #a8a2a2 !important;
    transition: 0.4s 0.1s;
    box-shadow: 0 0 10px #00000049;
}
.bola {
    position: absolute;
    height: 80%;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    transition: 0.4s;
    box-shadow: 0 0 10px #00000049;
}
input[type=checkbox]:checked + .label{
    background-color: yellowgreen !important;
}

input[type=checkbox]:checked + .label .bola{
    left: calc(100% - 45px)
}